<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.cqupt.business.dao.AlgorithmDao">

	<!--查询所有算法信息  -->
	<select id="findAllAlgorithm" resultType="cn.edu.cqupt.rubic_business.Model.po.AlgorithmPo" >
	  select * from algorithm
	</select>

	<!--根据aid查找算法  -->
	<select id="findAlgorithmById" resultType="cn.edu.cqupt.rubic_business.Model.po.AlgorithmPo" parameterType="int">
	  select * from algorithm where algorithm_id=#{aid}
	</select>
	<!--添加算法  -->
	<insert id="addAlgorithm" parameterType="cn.edu.cqupt.rubic_business.Model.po.AlgorithmPo">
		insert into algorithm(algorithm_id,algorithm_name,platform,description,
							  package_name,parameter_count,associated_tasks,
							  data_requirements,in_pattern,out_pattern,scope,
							  submit_datetime,ispublic) 
		values(#{algorithm_id},#{algorithm_name},#{platform},#{description},#{package_name},#{parameter_count},
			   #{associated_tasks},#{data_requirements},#{in_pattern},#{out_pattern},#{scope},
			   #{submit_datetime},#{ispublic})
	</insert>
	
	<!--根据算法名字查找aid  -->
	<select id="findIdByName" parameterType="String" resultType="int" >
		select max(algorithm_id) from algorithm where algorithm_name=#{algorithm_name}
	</select>
	
	<!-- 添加算法参数关系 -->
	<insert id="addParameterRelationship" parameterType="java.util.Map">
		insert into algorithm_parameter_relationship(algorithm_id, parameter_id, parameter_sequence) values(#{algorithm_id}, #{parameter_id}, #{parameter_sequence})
	</insert>
	
	<!-- 添加算法关键字关系 -->
	<insert id="addKeywordRelationship" parameterType="java.util.Map">
		insert into algorithm_keyword_relationship(algorithm_id, keyword_id) values(#{algorithm_id}, #{keyword_id})
	</insert>
	
	<!-- 添加算法用户关系 -->
	<insert id="addUserRelationship" parameterType="java.util.Map">
		insert into user_algorithm_relationship(user_id, algorithm_id) values(#{user_id}, #{algorithm_id})
	</insert>
	
	<!-- 查询算法所有类型 聚类|分类 -->
	<select id="findAllAlgorithmClass" resultType="String">
		select distinct(associated_tasks) from algorithm
	</select>
	
	<select id="findAllAlgorithmByClass" parameterType = "String" resultType="cn.edu.cqupt.rubic_business.Model.po.AlgorithmPo">
		select * from algorithm where associated_tasks = #{associated_tasks}
	</select>
	
</mapper>